/* ArtifactList.css */

.artifact-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  background-color: #f9f9f9;
  padding:20px 5px 20px 20px ;
  border-radius: 10px;
}
.artifact-list-title{
  padding: 0px 10px 10px 10px ;
}
.scrollable-list {
  overflow-y: auto; /* Включаем вертикальную прокрутку */
  height: 100%; /* Прокручиваемый контейнер */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между элементами */
}

.MuiCard-root.item-card {
  padding: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s ease ;
  will-change: transform;
}

.item-card:hover {
  transform: scale(0.94);
}

.item-image {
  object-fit: cover;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

/* Диалоговое окно */
.dialog-content {
  max-width: 400px;
}

.dialog-actions {
  justify-content: flex-end;
}

.scrollable-list::-webkit-scrollbar {
  width: 8px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 10px;
}
@media(max-width: 768px) {
  .scrollable-list{
    display: flex;
    flex-direction: row;
  }
  .item-card{
    display: flex;
  }
  .artifactName{
    font-size: 14px !important;
  }
  .item-image{
    height: 100%;
    object-fit: cover;
  }
}
