/* UserProfile.css */
.full-profile-container{
  width: 40%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 95%; 
  height: 65%;
}
.user-name-avatar{
  align-items: center;
  justify-self: center;
  text-align: center;
}
.avatar {
  margin-bottom: 16px;
  align-self:center;
  justify-self: center;
  height: 270px;
  width: auto;
  object-fit: contain;
}

.user-name {
  color:black;
  z-index: 2;
}
.user-rank {
  color:rgb(95, 95, 95);
  z-index: 2;
  background-color: rgb(208, 220, 231);
  max-width: auto;
}

.customization-link{
  width: 100%;
}

.customization-button {
  width: 100%;
}
