.static-circuit-background{
  background-image: url("img/2869180_5685.svg");
  background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
    z-index:-1
}
.main{
}